*.mid
*.MID
*.pdf
*.xml
*.alc
*.zip
*.PDF

*.DS_Store
*.iml
*.midi
*.MIDI
*.MIDi
*.Mid
*.ico
*.jpg
*.MIDI
*.LOG
Lake
*.cfg
icon
*.ini
*.als
Icon
readme
*.kar
*.C
*.H
*.png
*.npy
*.pyc
*.h5
**/130000_Pop_Rock_Classical_Videogame_EDM_MIDI_Archive[6_19_15]